.places h1 {
  font-size: 30px;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}

article h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.place {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
